body {
  background-color: #1e1e1e;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.container {
  text-align: center;
}
h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
p {
  font-size: 1.5rem;
  margin-bottom: 3rem;
}
a {
  background-color: #ff2400;
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 10px;
  font-size: 1.4rem;
  font-family: Russo One;
}
a:hover {
  background-color: #cc0000;
  text-decoration: underline;
  transition: 0.2s;
}
.f1-image {
  max-width: 100%;
  height: auto;
  margin-top: 2rem;
}
