/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

label {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
}

input {
  border: 3px solid black;
  padding: 0.5rem 0.5rem;
  border-radius: 10px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  row-gap: 20px;
  width: 300px;
  padding: 5rem 2rem;
}

.labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 0.5rem;
  width: 250px;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.login-texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  color: #6d6d6d;
  padding: 0 0 4rem 0;
}

.register-now {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #6d6d6d;
}

.login-register-btn {
  width: 100px;
  height: 35px;
  padding: 0.3rem;
  margin-top: 1.4rem;
  border-radius: 10px;
  border: none;
  background: var(--btn-color);
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  cursor: pointer;
}

.register-now:hover,
.login-register-btn:hover {
  color: black;
  text-decoration: underline;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.forgot {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
  color: #6d6d6d;
  text-align: center;
}

.up-padding {
  padding: 0.6rem 0 0 0;
}

span.error {
  color: #c31616;
  font-size: 0.8rem;
}

@media (max-width: 50em) {
  h1 {
    font-size: 2.5rem;
  }

  .login-texts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1rem;
  }
}

@media (max-width: 30em) {
  h1 {
    font-size: 2rem;
  }

  .login-texts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1rem;
  }
}
