/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* Small Reset */
@import "./components/components.css";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  /* background-color: #f3f3f3; */
}

:root {
  --span-color: black;
  --btn-color: #6d6d6d;
}

.max-width {
  max-width: 1600px;
  margin: 0 auto;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 100vh;
}

.heading-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 4rem 0;
}

span {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: var(--span-color);
}

.read-more {
  color: white;
  background: #6d6d6d;
  text-decoration: none;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  border: solid 5px var(--btn-color);
  padding: 0.2rem;
  display: inline-block;
  -ms-flex-item-align: start;
  align-self: flex-start;
  border-radius: 5px;
}

.read-more:hover {
  -webkit-transition: 0.15s;
  -o-transition: 0.15s;
  transition: 0.15s;
  text-decoration: underline;
}
